@import "tailwindcss";

#catalogue-page {
  background-image:
    linear-gradient(var(--page-bg-overlay), var(--page-bg-overlay)),
    url("/assets/bg/catalogue-bg.JPG") !important;
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

  position: fixed;
  inset: 0;
  overflow: hidden;
}

