PLANTNET_API_KEY=YOUR_API_KEY_HERE
MONGO_URI=YOUR_MONGO_URI_HERE
MONGO_ATLAS_URL=YOUR_MONGO_ATLAS_URL_HERE
MONGO_USERS_DB=YOUR_USERS_DB_NAME_HERE

MONGO_SESSION_SECRET=YOUR_MONGO_SESSION_SECRET_HERE
NODE_SESSION_SECRET=YOUR_NODE_SESSION_SECRET_HERE
JWT_SECRET=YOUR_JWT_SECRET_HERE