PLANTNET_API_KEY=YOUR_PLANTNET_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
MONGO_URL=YOUR_MONGO_URL
MONGO_ATLAS_URL=YOUR_MONGO_ATLAS_URL
MONGO_USERS_DB=USER_DB_NAME
MONGO_PLANTS_DB=PLANT_DB_NAME
JWT_SECRET=YOUR_SECRET_KEY