.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin-top: auto;

	justify-self: center;

	position: absolute;

	background: var(--cream);
	padding-top: clamp(8px, 1vw, 12px);

	bottom: 0;

	width: 100%;
	height: auto;

	z-index: 1000;
}

.footer nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
}
